body{
    margin:0;
}

.product-container{
position: relative;
 top: 25vh;
 width: 100vw;
 height: 100vh;
 display: flex;
justify-content: center;
}
.product-div{
    margin: 100px;
    }
.product-image{
    width: 20vw;
}
.product-details{
    
}
.product-title{
    
}
.price{
    
}