* {
    padding: 0;
    margin: 0;
}

.raulNav{
    position: fixed;
    width: 100vw;
}
.navScroll{
    position: fixed;
    width: 100vw;
    background: #595959;
}
.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.topDivs{
    display: flex;
}
.bottomNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.link{
    text-decoration: none;
    list-style-type: none;
    padding: 0px 10px;
}

.test{
    height: 150vh;
    overflow-y: auto;
}
